#!/bin/sh
set -e
. /usr/share/debconf/confmodule

. /usr/share/dbconfig-common/dpkg/config.mysql
dbc_go steam $@

db_input medium steam/reconfigure-ports					|| true
db_go									|| true
db_get steam/reconfigure-ports
if [ "$RET" = "manual" ]; then
	db_input high steam/http-port					|| true
	db_input high steam/https-port					|| true
	db_input high steam/mail-smarthost				|| true
	db_input medium steam/mail-port					|| true
	db_input low steam/pop3-port					|| true
	db_input medium steam/imap-port					|| true
	db_input low steam/nntp-port					|| true
	db_input low steam/irc-port					|| true
	db_input low steam/jabber-port					|| true
	db_input medium steam/ftp-port					|| true
	db_go								|| true
else if [ "$RET" = "standard" ]; then
	db_set high steam/http-port "80"				|| true
	db_set high steam/https-port "443"				|| true
	db_set medium steam/mail-port "25"				|| true
	db_set low steam/pop3-port "110"				|| true
	db_set medium steam/imap-port "143"				|| true
	db_set low steam/nntp-port "119"				|| true
	db_set low steam/irc-port "6667"				|| true
	db_set low steam/jabber-port "5222"				|| true
	db_set medium steam/ftp-port "21"				|| true
  else if [ "$RET" = "alternative" ]; then
	db_set high steam/http-port "34080"				|| true
	db_set high steam/https-port "34443"				|| true
	db_set medium steam/mail-port "34025"				|| true
	db_set low steam/pop3-port "340110"				|| true
	db_set medium steam/imap-port "34143"				|| true
	db_set low steam/nntp-port "34119"				|| true
	db_set low steam/irc-port "40667"				|| true
	db_set low steam/jabber-port "39222"				|| true
	db_set medium steam/ftp-port "34021"				|| true
    fi
  fi
fi

db_go
